<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">>
<header th:replace="layout/layout::head"></header>

<body>
<header th:replace="layout/layout::header_nav"></header>

    <div class="p-4 m-5">
        <div class="card bg-light">
            <div class="card-header"><span>Listado de empleados</span></div>
            <div class="card-body">
                <h4 class="card-title">
                    <a th:href="@{/registrarempleado}" class="btn btn-primary">Agregar empleado</a>
                    <a th:href="@{/exportarpdf}" class="btn btn-secondary">Exportar a PDF</a>
                    <!-- <a th:href="@{/exportarexcel}" class="btn btn-success">Exportar a Excel</a> -->
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha Nac.</th>
                            <th>Sexo</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Salario</th>
                            <th>Acciónes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="empleado: ${listaEmpleados}">
                            <td th:text="${empleado.id}"></td>
                            <td th:text="${empleado.nombre}"></td>
                            <td th:text="${empleado.apellido}"></td>
                            <td th:text="${empleado.fechaNacimiento}"></td>
                            <td th:text="${empleado.sexo}"></td>
                            <td th:text="${empleado.email}"></td>
                            <td th:text="${empleado.telefono}"></td>
                            <td th:text="${empleado.sueldo}"></td>
                            <td><a class="btn btn-info btn-sm" th:href="@{/verempleado/} + ${empleado.id}">Detalles</a></td>
                            <td sec:authorize="hasRole('ADMIN')"><a class="btn btn-warning btn-sm" th:href="@{/editarempleado/} + ${empleado.id}">Editar</a></td>
                            <td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger btn-sm" th:href="@{/eliminarempleado/} + ${empleado.id}" onclick="return confirm('¿Estas seguro de eliminar este empleado?');">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<footer th:replace="layout/layout::footer"></footer>
</body>
</html>